@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

/*
Material UI DataGrid
*/
.MuiDataGrid-columnHeaderTitleContainer
.MuiDataGrid-columnHeaderDraggableContainer
.MuiDataGrid-columnHeader {
  color: black;
  background: blue;
}

.noOutlineOnFocus .MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}
