@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

/*
Material UI DataGrid
*/
.customHeader .MuiDataGrid-columnHeader {
  background-color: gray; 
}

.noOutlineOnFocus .MuiDataGrid-cell:focus,
.noOutlineOnFocus .MuiDataGrid-cell:focus-within {
  outline: none;
}
